<div class='row'>
	<div class='col s6'>
		<nav>
	    <div class="nav-wrapper">
	    	<span class='brand-logo'>Section</span>
		    <ul class="right hide-on-med-and-down">
					<% @sections.each do |section| %>
						<li><%= link_to section, menu_path(section: section, sort: params[:sort]) %></li>
					<% end %>
				</ul>
	    </div>
	  </nav>
	</div>

	<div class='col s6'>
		<nav>
	    <div class="nav-wrapper">
	    	<span class='brand-logo'>Sort</span>
		    <ul class="right hide-on-med-and-down">
					<% @sorts.each do |s| %>
						<li><%= link_to s, menu_path(section: params[:section], sort: s) %></li>
					<% end %>
				</ul>
	    </div>
	  </nav>
	</div>
</div>

<div class='divider'></div>

<div class='row'>
	<p id="notice"><%= notice %></p>

	<%= render @food_items %>

</div>
