<h1>Contact us</h1>
<div class='row'>
	<div class="col s6">
		<address>
			702 Nguyễn Văn Linh, Tân Phong, Hồ Chí Minh, Vietnam<br/>
			rmit.edu.vn<br/>
			Phone: 0987654321 (don't call)
		</address>
	</div>
  <div class="col s6">
  	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.069019824446!2d106.69313571421425!3d10.72916006299962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fbc00a6fbcf%3A0x213ee4fb8ef99b50!2sRMIT+University+Vietnam!5e0!3m2!1sen!2s!4v1457860101841" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
